*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_wrapper{
    width: 100%;
    height: 100vh;
    background-color: #96befc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_wrapper{
    width: 700px;
    height: 90%;
    background-color: #4085ff;
    border-radius: 20px;
}